.rcard {
    /* position: relative;*/
    display: grid;
    grid-template-columns: 80px 3fr 120px;

    @apply rounded-lg;
    border-width: 1px;
    padding: 10px;
    border-color: #818CF8;
    margin-bottom: 10px;
    /* justify-content: flex-start;
    align-items: center; */
    /* justify-content: space-around; */
}

.rcardImage {
    /* flex: 1 0 auto; */
    @apply col-start-1 col-span-1;
    align-self: center;
    margin: auto;
}

.rcardImage img {
    align-self: center;
    border-radius: var(--rounded-box, 1rem);
    border-color: #0F172A;
    border-width: 1px;
    width: 80%;
    margin: 0 auto;

}

.rcardDetails {
    /* display: flex; */
    /* flex: 20 1 auto;
    flex-direction: column; */
    @apply col-start-2 col-span-1;
    padding-left: var(--padding-card, 1rem);
    padding-right: var(--padding-card, 1rem);
    gap: 0.5rem
        /* 8px */
    ;
}

.rcardAction {
    /* flex: 1 0 auto; */
    @apply col-start-3 col-span-1;
    align-self: center;
    /* justify-self: end; */
}

.rcardAction button {
    margin: 0 auto;
}

.rcard:hover {
    @apply bg-neutral-focus;
}



/* "[data-theme=night]": {
    "color-scheme": "dark",
    "primary": "#38bdf8",
    "secondary": "#818CF8",
    "accent": "#F471B5",
    "neutral": "#1E293B",
    "neutral-focus": "#273449",
    "base-100": "#0F172A",
    "info": "#0CA5E9",
    "info-content": "#000000",
    "success": "#2DD4BF",
    "warning": "#F4BF50",
    "error": "#FB7085",
  }, */